.footer {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  .footer-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    .social-icons {
      padding-right: 20px;
    }
  }
  p {
    align-items: flex-end;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #888888;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1200px){
  .social-icons , p{
    display: none;
  }
}
